node_modules/
.pnp/
.pnp.js
.svelte-kit/
build/
dist/
public/build/
functions/node_modules/
functions/lib/
firebase-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*
.firebase/
.vscode/
.idea/
.DS_Store
Thumbs.db
package-lock.json
yarn.lock
**build
*.svelte-kit
/package
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.secrets
venv
dw.db
.pyc
__pycache*
.python*
.pytest_cache
.mypy_cache
.ruff_cache
*.db
.lance*
*.csv
.docker_volumes/